body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: auto;
}

.content {
  width: 850px;
  height: 850px;
  max-width: 800px;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  overflow: auto;
}
